<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Quiz - Teste seu Conhecimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding quiz-content">

  <div *ngIf="!quizFinished">
  <p class="question-counter">Pergunta {{ currentQuestionIndex + 1 }} de {{ totalQuestions }}</p>
    
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>Q: {{ currentQuestion.text }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    
      <ion-item *ngFor="let option of currentQuestion.options; let i = index" class="quiz-option" [class.selected]="selectedAnswerIndex === i" color="light">
        <ion-button expand="block"
                    
                    (click)="answerQuestion(i)"
                    [disabled]="answerSelected"
                    [class.selected]="selectedAnswerIndex === i"
                    class="option-button"
                    [attr.aria-pressed]="selectedAnswerIndex === i">
          {{ option }}
        </ion-button>
      </ion-item>
    

    <div *ngIf="answerSelected" class="feedback-container">
      <p [class]="isCorrect ? 'correct-feedback' : 'incorrect-feedback'" aria-live="polite">
        {{ isCorrect ? '✅ Resposta Correta!' : '❌ Resposta Incorreta.' }}
      </p>
      <ion-button expand="block" color="secondary" (click)="nextQuestion()">
        {{ isCorrect ? 'Próxima Pergunta' : 'Continuar' }}
      </ion-button>
    </div>
  </div>

  <div *ngIf="quizFinished" class="results-container">
    <h2>Quiz Finalizado!</h2>
  <p class="score">Sua Pontuação: {{ score }} / {{ totalQuestions }}</p>
    
    <ion-card class="final-message-card" [color]="gradeTitle === 'Excelente!' ? 'success' : (gradeTitle === 'Precisa Melhorar' ? 'danger' : 'warning')">
      <ion-card-content>
        <h4>{{ gradeTitle }}</h4>
        <p>{{ gradeMessage }}</p>
        <!-- <p class="score">Sua Pontuação: {{ score }} / {{ questions.length }}</p> -->
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="goToHome()" color="medium" class="back-home-button">
      Voltar para o Início
    </ion-button>
    <ion-button expand="full" color="primary" (click)="restartQuiz()" class="restart-quiz-button">
      Reiniciar Quiz
    </ion-button>
  </div>
</ion-content>
